.create-blog-page {
  margin-top: 56px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.create-blog-page .title {
  text-align: center;
}

.create-blog-form-group {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  max-width: 90%;
  max-width: 800px;
  padding: 20px;
}

/* .create-blog-form-group label { */
/* flex: 0.5; */
/* } */

.create-blog-page .submit-btn {
  background-color: #a72005;
  color: #d9d9d9;
  padding: 7px 14px;
  border: none;
  outline: none;
  border-radius: 3px;
  margin-top: 10px;
  cursor: pointer;
}

.create-blog-form-group input {
  flex: 1;
  border: none;
  outline: none;
  height: 30px;
  width: 100%;
  background-color: rgba(167, 32, 5, 0.12);
  box-shadow: inset 0px 0px 1.2px #a72005;
  border: 1.2px solid #a72005;
  border-radius: 3px;
}

.create-blog-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* background-color: red; */
}

.editor-container {
  background-color: rgba(167, 32, 5, 0.12);
  box-shadow: inset 0px 0px 1.2px #a72005;
  border: 1.2px solid #a72005;
  min-height: 460px;
  /* overflow-y: scroll; */
  min-width: 90%;
  max-width: 800px;
  padding: 20px;
  border-radius: 10px;
  align-self: center;
}
