.services {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top .title {
  text-align: center;
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (min-width: 800px) and (max-width: 1300px) {
  .bottom {
    flex-direction: row;
  }
}
