.service {
  display: flex;
  align-items: center;
  width: 50%;
  max-height: 200px;
  gap: 20px;
}

.service-left {
  /* background-color: yellow; */
  flex: 0.5;
}

.service-left img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
  border: 3px solid #a72005;
}

.service-right {
  background-color: rgba(167, 32, 5, 0.12);
  /* height: 210px; */
  height: fit-content;
  display: flex;
  align-items: center;
  line-height: 40px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.267);
  border: 1.5px solid #a72005;
}

@media (min-width: 800px) and (max-width: 1300px) {
  .service {
    width: 100%;
    flex-direction: column;
    max-height: fit-content;
    align-self: flex-start !important;
    /* height: 900px; */
    /* background-color: red; */
  }

  .service-right {
    min-height: 300px;
    max-height: fit-content;
  }

  .service-description {
    font-size: 15px;
    line-height: 30px;
  }
}

@media (min-width: 100px) and (max-width: 800px) {
  .service {
    width: 100%;
    flex-direction: column;
    max-height: fit-content;
  }

  .service-description {
    font-size: 14px;
    line-height: 30px;
  }
}
