.comment {
  /* border-top: 1px solid #a72005; */
  /* border-bottom: 1px solid #a72005; */
  margin-top: 10px;
  padding-top: 10px;
  background-color: #a7200534;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #a720054a;
}

.main-comment {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.main-comment-content {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 100%;
}

.main-comment-content-top {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-comment-content-top .time {
  font-size: 11px;
}

.main-comment-content-middle {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.comment-icons {
  display: flex;
  align-items: center;
  gap: 13px;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comment-reply {
  background-color: #a72005;
  color: #d9d9d9;
  padding: 2px 7px;
  font-size: 11px;
  border-radius: 10px;
}

.show-replies {
  color: #a72005;
  text-decoration: underline;
  cursor: pointer;
}

.sub-comment {
  display: flex;
}

.sub-comment {
  display: flex;
  flex-direction: row;
  gap: 10px;
  /* background-color: red; */
  margin-top: 10px;
  margin-left: 30px;
}

.main-comment-content-bottom {
  display: flex;
  gap: 10px;
  width: 96%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.comment-para {
  font-size: 13px;
  margin-bottom: 7px;
}

.reply-input {
  flex: 0.9;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #a72005;
}

.reply-send {
  flex: 0.1;
  background-color: #a72005;
  padding: 5px 0px;
  width: 100%;
  border-radius: 3px;
}

.like-dislike {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
