.nav {
  width: 100%;
  background-color: #a72005;
  color: #d9d9d9;
  display: flex;
  align-items: center;
  padding: 8px 20px;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  z-index: 999;
}

/* .open {
  transform: rotate(45deg);
} */

.nav_logo {
  display: flex;
  /* background-color: yellow; */
}

.nav_logo img {
  height: 100%;
  object-fit: cover;
}

.nav-links2 {
  position: fixed;
  z-index: 100;
  right: 0px;
  top: 0px;
  width: 100%;
}

a {
  color: #d9d9d9;
  text-decoration: none;
}

.small-device-nav-links {
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  cursor: pointer;
  display: none;
}

.brand_name {
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.logo {
  height: 50px;
}

.nav_links {
  display: flex;
  align-items: center;
  gap: 50px;
}

.links {
  display: flex;
  gap: 25px;
  cursor: pointer;
}

.links .link {
  font-size: 14px;
  list-style-type: none;
}

.links .link a {
  color: #d9d9d9;
  text-decoration: none;
}

.nav_links button {
  padding: 3px 6px;
  border-radius: 3px;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #a72005;
}

.links2 {
  position: absolute;
  right: 10px;
  top: 80px;
  background-color: #a72005;
  list-style-type: none;
  /* padding: 10px; */
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
}

.link2 {
  border-bottom: 2px solid #d9d9d988;
  font-size: 16px;
  padding: 8px;
  font-weight: 500;
}

@media (min-width: 800px) and (max-width: 1000px) {
  .nav_links {
    display: none;
  }
  .small-device-nav-links {
    display: block;
  }
  .link2 {
    font-size: 15px;
  }
}

@media (min-width: 100px) and (max-width: 800px) {
  .nav_links {
    display: none;
  }
  .small-device-nav-links {
    display: block;
  }
  .link2 {
    font-size: 14px;
  }
}
